body {
  font-family: Arial, sans-serif;
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 800px;
}

#maintask {
  max-width: 600px;
  float: right;
  margin: 0 auto;
  padding: 20px;
 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #c792ae;
  
  border-radius: 4px;
  margin-bottom: 5px;
}

li.completed {
  background-color: #e5e5e5;
  text-decoration: line-through;
}

li button {
  margin-left: 5px;
  background-color: whitesmoke;
  color: #040101;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
